<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <style>
        body {
            font-family:-apple-system,'Segoe UI',Roboto,Arial,sans-serif;
        }
    </style>
    <script type="text/javascript">
        window.location.href = "{{deep_link}}";
    </script>
</head>
<body>
<main>
    <p>If you are not redirected automatically, <a href="{{deep_link}}">click here</a>.</p>
</main>
</body>
</html>
