<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
</head>
<body style="font-family:-apple-system,'Segoe UI',Roboto,Arial,sans-serif;">
<main>
    <p>You can reset your password in <a href="{{reset_password_link}}">{{reset_password_link}}</a></p>
</main>
</body>
</html>
